<div class="alert alert-block alert-info">
<h3> <b> Airport Round Trip Route Analysis <b></h3>
<div>

<div class="alert alert-block alert-success">
Author: xxx
Date: 2022 Nov
</div>

## 0.Set Environment

### 0.1 Import Packages

In [109]:
# Import packages and set options
import pyforest
import copy
import missingno as msno
from CapitalOne import download_data, check_data
from CapitalOne.get_data import GetData

import warnings
warnings.filterwarnings("ignore")

# pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.float_format", lambda x: "%.2f" %x) # suppress scientific notation

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### 0.2 Set Directory

In [3]:
# Create/change data import file path
if os.path.exists("data"):
    import_file_path = os.path.join(os.getcwd(), "data")
    print("Import file path is:", import_file_path)
else: 
    os.mkdir("data")
    print("data folder created")

Import file path is: F:\Anaconda Files\CapitalOne\data

In [4]:
# Create/change result export file path
if os.path.exists("result"):
    result_file_path = os.path.join(os.getcwd(), "result")
    print("Result file path is:", result_file_path)
else: 
    os.mkdir("result")
    print("result folder created")

Result file path is: F:\Anaconda Files\CapitalOne\result

### 0.3 Download Data to "data" folder

In [21]:
# Download & extract data from github
download_data.main()

Connection Failed!

FileNotFoundError: [Errno 2] No such file or directory: 'data/data.zip'

## 1.Import Data

In [10]:
# Get data stored in dictionary
data = GetData().get_data()
data.keys()

Data dictionary generated

In [22]:
# Get datasets
airport_codes = data.get("Airport_Codes")
flights = data.get("Flights")
tickets = data.get("Tickets")

## 2.Data Quality Check

### 2.1 Abnormal Value Check

#### *Flights: Distance*

In [174]:
flights["DISTANCE_length"] = flights["DISTANCE"].apply(lambda x: len(str(x)))
flights["DISTANCE_length"].value_counts()

In [174]:
flights[flights["DISTANCE_length"] == 7].head() # **** Hundred

,FL_DATE,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DESTINATION,DEST_CITY_NAME,DEP_DELAY,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,OCCUPANCY_RATE,DISTANCE_lenght,DISTANCE_lengh
1910839,1/2/19,UA,N782SA,5656,14635,RSW,"Fort Myers, FL",13232,MDW,"Chicago, IL",5.00,8.00,0.00,164,Hundred,0.80,7,7
1911344,1/2/19,UA,N782SA,5656,14635,RSW,"Fort Myers, FL",13232,MDW,"Chicago, IL",5.00,8.00,0.00,164,Hundred,0.80,7,7
1911849,1/2/19,UA,N782SA,5656,14635,RSW,"Fort Myers, FL",13232,MDW,"Chicago, IL",5.00,8.00,0.00,164,Hundred,0.80,7,7
1912354,1/2/19,UA,N782SA,5656,14635,RSW,"Fort Myers, FL",13232,MDW,"Chicago, IL",5.00,8.00,0.00,164,Hundred,0.80,7,7
1912859,1/2/19,UA,N782SA,5656,14635,RSW,"Fort Myers, FL",13232,MDW,"Chicago, IL",5.00,8.00,0.00,164,Hundred,0.80,7,7

#### *Flights: AIR_TIME*

In [175]:
flights["AIR_TIME_length"] = flights["AIR_TIME"].apply(lambda x: len(str(x)))
flights["AIR_TIME_length"].value_counts()

4    1027408
5     827665
3      60382
2        320
1        110
6          1
Name: AIR_TIME_length, dtype: int64

In [179]:
flights[flights["AIR_TIME_length"] == 3].head() # AIR_TIME_length == 1/6/3  AIR_TIME == HUNDERED

,FL_DATE,OP_CARRIER,TAIL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,DEST_AIRPORT_ID,DESTINATION,DEST_CITY_NAME,DEP_DELAY,ARR_DELAY,CANCELLED,AIR_TIME,DISTANCE,OCCUPANCY_RATE,DISTANCE_lenght,DISTANCE_lengh,AIR_TIME_length
126,2019-03-02,WN,N926WN,5417,14683,SAT,"San Antonio, TX",12191,HOU,"Houston, TX",NaN,NaN,1.00,NaN,192.00,0.43,5,5,3
130,2019-03-02,WN,N799SW,5307,14683,SAT,"San Antonio, TX",12889,LAS,"Las Vegas, NV",NaN,NaN,1.00,NaN,1069.00,0.67,6,6,3
136,2019-03-02,WN,N440LV,4585,14683,SAT,"San Antonio, TX",14107,PHX,"Phoenix, AZ",NaN,NaN,1.00,NaN,843.00,0.90,5,5,3
182,2019-03-02,WN,N456WN,2669,14771,SFO,"San Francisco, CA",12892,LAX,"Los Angeles, CA",NaN,NaN,1.00,NaN,337.00,0.61,5,5,3
190,2019-03-02,WN,N7828A,5371,14771,SFO,"San Francisco, CA",14107,PHX,"Phoenix, AZ",NaN,NaN,1.00,NaN,651.00,0.69,5,5,3

#### *Tickets: ITIN_FARE*

In [181]:
tickets["ITIN_FARE_length"] = tickets["ITIN_FARE"].apply(lambda x: len(str(x)))
tickets["ITIN_FARE_length"].value_counts()

5    999327
4     85040
6     48704
3     33105
8      1089
7        20
Name: ITIN_FARE_length, dtype: int64

In [184]:
tickets[tickets["ITIN_FARE_length"] == 3].head() # ITIN_FARE_length == 7/8

,ITIN_ID,YEAR,QUARTER,ORIGIN,ORIGIN_COUNTRY,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,ROUNDTRIP,REPORTING_CARRIER,PASSENGERS,ITIN_FARE,DESTINATION,ITIN_FARE_length
79,201912723848,2019,1,ABI,US,TX,Texas,0.00,MQ,1.00,5.0,SLC,3
181,201912723818,2019,1,ABI,US,TX,Texas,0.00,MQ,1.00,5.0,SFO,3
245,201912723165,2019,1,ABI,US,TX,Texas,1.00,MQ,1.00,600,DSM,3
321,201912723384,2019,1,ABI,US,TX,Texas,0.00,MQ,1.00,5.0,LAX,3
322,201912723688,2019,1,ABI,US,TX,Texas,0.00,MQ,1.00,5.0,PHX,3

### 2.2 Data Type Correction

In [127]:
flights_numerical_cols = ["DEP_DELAY", "ARR_DELAY", "AIR_TIME", "DISTANCE", "OCCUPANCY_RATE"]
tickets_numerical_cols = ["PASSENGERS", "ITIN_FARE"]

In [136]:
for col in flights_numerical_cols:
    flights[col] = flights[col].astype(float)

ValueError: could not convert string to float: 'Two'

In [ ]:
for col in tickets_numerical_cols:
    tickets[col] = tickets[col].astype(float)

### 2.3 Missing Value Inspection

In [59]:
check_data.check_missing_values(flights)

In [59]:
check_data.check_missing_values(tickets)

            Attribute  Missing#  Missing%
0            AIR_TIME     56551      2.95
1           ARR_DELAY     55991      2.92
2           DEP_DELAY     50351      2.63
3            TAIL_NUM     12156      0.63
4            DISTANCE       630      0.03
5      OCCUPANCY_RATE       310      0.02
6             FL_DATE         0      0.00
7          OP_CARRIER         0      0.00
8   OP_CARRIER_FL_NUM         0      0.00
9   ORIGIN_AIRPORT_ID         0      0.00
10             ORIGIN         0      0.00
11   ORIGIN_CITY_NAME         0      0.00
12    DEST_AIRPORT_ID         0      0.00
13        DESTINATION         0      0.00
14     DEST_CITY_NAME         0      0.00
15          CANCELLED         0      0.00

### 2.4 Outliers

### 2.6 Skewness & Kurtosis

In [116]:
check_data.check_skweness_kurtosis(flights)

        Attribute  Skweness  Kurtosis
0       DEP_DELAY     10.06    179.40
1       ARR_DELAY      8.99    153.09
2       CANCELLED      5.84     32.15
3  OCCUPANCY_RATE     -0.00     -1.20

In [117]:
check_data.check_skweness_kurtosis(tickets)

    Attribute  Skweness  Kurtosis
0  PASSENGERS     25.94   1423.65

### 2.6 Correlation Analysis